numpy
pandas
matplotlib
torch==2.2.0+cu121
torchvision==0.17.0+cu121
torchaudio==2.2.0+cu121
-f https://download.pytorch.org/whl/torch_stable.html
matplotlib
seaborn
nltk
regex
scikit-learn
from-root
google-cloud-storage
fastapi==0.115.8
uvicorn==0.34.0
Jinja2==3.1.5
-e .